*{margin: 0;
    padding:0;}
a{text-decoration: none}
body{background:#eeeeee url(./wall-min.jpg) no-repeat  center;
    background-size: cover;
}

kbd{
    border:1px solid pink;
    width: 4em;
    height:4em;
    display: inline-block;
    text-transform: capitalize;
    margin-top: 5px;
    position: relative;
}
.wrapper{
    background: rgba(255,255,255,0.3);
    border-radius: 15px;
}


kbd > button{
    position: absolute;
    right:0;
    bottom:0;
    display: none;
}
kbd:hover > button{
    display: inline-block;
}
main{text-align: center;
    display: flex;
    justify-content:center;
    align-items: center;
    height:100vh;
}
#main{
    display: inline-block;
}
#main > div:nth-child(2){
    margin-left: 0.7em;
}
#main > div:nth-child(3){
    margin-left: -1.5em;
}

.row{
    margin:20px;
}
.key{

    margin:0 7px;
    width: 50px;
    height:40px;
    background: linear-gradient(to bottom, #1e5799 0%,#292929 0%,#111111 93%,#111111 98%,#111111 100%,#207cca 100%);
    border: 1px solid #373737;
    border-radius: 6px;
    color: #c5c5c5;
    box-shadow: 0 0 0 1px #1a1b1c,0 0 0 2px #1f2020,0 3px 0 2px #080808;
    position: relative;

}
.key .keyWord{
    position: absolute;
    top:3px;
    left:5px;
    font-size: 18px;
    font-family: 'Helvetica';
}
.key img {
    width:14px;
    position: absolute;
    bottom:2px;
    left:5px;
}


.smBtn {
    -webkit-border-radius: 2;
    -moz-border-radius: 2;
    border-radius: 2px;
    font-family: Arial;
    color: #ffffff;
    font-size: 5px;
    background: #43d1be;
    padding: 1px 3px 1px 3px;
    border: none;
    text-decoration: none;
}

